@use 'partials/colors';
// Custom ant-input styling
@use 'components/card';
@use 'components/input';
@use 'components/message';
@use 'components/picker';
@use 'components/select';
@use 'components/switch';
@use 'components/radio';
@use 'components/table';
@use 'components/tabs';
@use 'components/tooltip';
@use 'components/modal';
@use 'components/checkbox';
@use 'components/drawer';
@use 'components/treeselect';
@use 'components/popover';
@use 'components/search';
@use 'components/steps';
@use 'components/dropdown';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../public/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/fonts/HelveticaNeue.woff2') format('woff2'),
    url('../public/fonts/HelveticaNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: map-get(colors.$colors, 'basic', '200');
}

a {
  color: inherit;
  text-decoration: none;
}

h3,
p {
  margin: 0;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get(colors.$colors, 'basic', '300');
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: map-get(colors.$colors, 'basic', '600');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map-get(colors.$colors, 'basic', '700-a');
}

.ant-card-actions {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ant-space {
  display: flex;
}

.ant-form-item-explain-error {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: map-get(colors.$colors, 'magenta', '300');
}

.ant-alert {
  border: none;
  border-radius: 6px;
  padding: 16px;
  align-items: baseline;

  .ant-alert-icon {
    position: relative;
    top: 4px;
    margin-right: 6px;
  }

  &.ant-alert-error {
    background: rgba(212, 12, 116, 0.16);

    .ant-alert-message {
      color: map-get(colors.$colors, 'magenta', '300');
    }

    .ant-alert-icon {
      path:last-child {
        fill: map-get(colors.$colors, 'magenta', '300');
      }
    }
  }

  &.ant-alert-note {
    background: map-get(colors.$colors, 'basic', '200');
    padding: 16px 24px;
  }
}

.ant-form-vertical {
  .ant-form-item-label {
    >label {
      width: 100%;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
    }
  }
}

.ant-breadcrumb {
  color: rgba(92, 98, 102, 0.45);
  font-size: 12px;
  line-height: 18px;

  .ant-breadcrumb-separator {
    color: rgba(92, 98, 102, 0.45);
    margin: 0 4px;
  }

  li:last-child {
    color: map-get(colors.$colors, 'basic', '700-a');
  }
}

.ant-tooltip {
  .ant-tooltip-inner {
    border-radius: 4px;
    padding: 14px;
  }
}

// Button
.ant-btn,.ant-btn:active,
.ant-btn:focus {
  border: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  box-shadow: none;
  height: 40px;
  padding: 4px 20px;
  cursor: pointer;

  span {
    font-weight: bold;
  }

  &:hover, &:active, &:focus {
    border: none;
  }

  &.small {
    height: 32px;
    font-size: 12px;
  }

  &.tiny {
    height: 24px;
    padding: 4px 12px;
    font-size: 10px;
  }

  &.ghost {
    background-color: transparent;
    color: map-get(colors.$colors, 'primary-1', '500');

    &:hover {
      background-color: map-get(colors.$colors, 'basic', 'transparent', '8');
      color: inherit;
    }

    &.danger {
      span {
        color: map-get(colors.$colors, 'magenta', '300');
      }
    }
  }

  &.filled {
    &.info {
      background: map-get(colors.$colors, 'cerulean-blue', '300');
      color: #FFF;

      &:hover {
        background: map-get(colors.$colors, 'cerulean-blue', '400');
        color: #FFF;
      }
    }
  }

  &.outline {
    &.info {
      border: 1px solid map-get(colors.$colors, 'cerulean-blue', '300');
      background: transparent;
      color: map-get(colors.$colors, 'cerulean-blue', '300');
    }

    &.primary-1 {
      border: 1px solid map-get(colors.$colors, 'primary-1', '400');
      background: transparent;

      span {
        color: map-get(colors.$colors, 'primary-1', '400');
      }

      &:hover {
        background: map-get(colors.$colors, 'basic', '200');
      }
    }
  }

  &.basic {
    background-color: #e9ecef;
    color: #0b194d;

    &:hover {
      background-color: #dee2e6;
      color: #0b194d;
    }
  }

  &.danger {
    color: map-get(colors.$colors, 'magenta', '300');

    &:hover {
      color: map-get(colors.$colors, 'magenta', '300');
    }

    &.bg-danger {
      font-size: 12px;
      background-color: map-get(colors.$colors, 'magenta', '100')
    }
  }

  &.base-danger {
    background: map-get(colors.$colors, 'magenta', '300');
    color: #fff;

    &:hover {
      background: map-get(colors.$colors, 'magenta', '400');
      color: #fff;
    }
  }

  &.info {
    color: map-get(colors.$colors, 'cerulean-blue', '300');

    &:hover {
      background-color: map-get(colors.$colors, 'basic', 'transparent', '8');
    }
  }

  &.info-fill {
    color: map-get(colors.$colors, 'cerulean-blue', '300');
    background-color: map-get(colors.$colors, 'cerulean-blue', 'transparent', '8');

    &:hover {
      background-color: map-get(colors.$colors, 'cerulean-blue', 'transparent', '16');
    }
  }

  &.success {
    background-color: map-get(colors.$colors, 'primary-2', '300');

    span {
      color: map-get(colors.$colors, 'basic', '100');
    }

    &:disabled,
    &:disabled:hover {
      background-color: map-get(colors.$colors,
          'primary-2',
          'transparent',
          '48'
        );

      span {
        color: map-get(colors.$colors, 'basic', '100');
      }
    }

    &:hover {
      background-color: map-get(colors.$colors, 'primary-2', '400');
    }
  }

  &.primary-1 {
    background-color: map-get(colors.$colors, 'primary-1', '400');

    span {
      color: map-get(colors.$colors, 'basic', '100');
    }

    &:disabled,
    &:disabled:hover {
      background-color: map-get(colors.$colors,
          'primary-1',
          'transparent',
          '48'
        );

      span {
        color: map-get(colors.$colors, 'basic', '100');
      }
    }

    &:hover {
      background-color: map-get(colors.$colors, 'primary-1', 'transparent', '64');
    }
  }

  &.cerulean-blue {
    background-color: map-get(colors.$colors, 'cerulean-blue', '300');

    span {
      color: map-get(colors.$colors, 'basic', '100');
    }

    &:disabled,
    &:disabled:hover {
      background-color: map-get(colors.$colors, 'cerulean-blue', 'transparent', '48');

      span {
        color: map-get(colors.$colors, 'basic', '100');
      }
    }

    &:hover {
      background-color: map-get(colors.$colors, 'cerulean-blue', '400');
    }
  }

  &.link-success {
    background-color: #fff;
    color: map-get(colors.$colors, 'primary-2', '300');

    &:disabled,
    &:disabled:hover {
      background-color: #fff;
      color: map-get(colors.$colors, 'primary-2', 'transparent', '40');
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &.link-error {
    background-color: #fff;
    color: map-get(colors.$colors, 'magenta', '300');

    &:disabled,
    &:disabled:hover {
      background-color: #fff;
      color: map-get(colors.$colors, 'magenta', 'transparent', '40');
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &.text {
    font-weight: bold;
    color: map-get(colors.$colors, 'cerulean-blue', '300');
    padding: 0;
    height: 0;

    &.underline {
      span {
        text-decoration: underline;
      }
    }

    &.text-white {
      color: map-get(colors.$colors, 'basic', '100');
    }

    &.basic {
      color: map-get(colors.$colors, 'basic', '700-a');
      font-weight: normal;
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-menu-item .ant-menu-item-icon {
  min-width: 24px;
  font-size: 24px;
}